* {
    border: none;
    border-radius: 0;
    font-family: monospace;
    font-size: 12px;
    min-height: 0;
    transition: none; /* Disable predefined animations */
}

button:hover {
    box-shadow: none; /* Remove predefined box-shadow */
    text-shadow: none; /* Remove predefined text-shadow */
    background: none; /* Remove predefined background color (white) */
    transition: none; /* Disable predefined animations */
}

window#waybar {
    color: #fbf1c7;
    background-color: #1d2021;
}

#workspaces button {
    padding: 0 0px;
    color: #fbf1c7;
    background-color: #1d2021;
}

#workspaces button.focused {
    color: #689d6a;
    background-color: #32302f;
}

#workspaces button.urgent {
    background: #fb4934;
}

#workspaces button.hover {
}

#mode {
    padding: 0 5px;
    color: #fbf1c7;
    background-color: #32302f;
}

.module {
    padding: 0 5px;
}

.modules-center {
    padding: 0 10px;
}

#custom-mpd {
}
